@import "/src/styles/globals/base";

/*
  Recommended sizes for an accessible and visually clear typographic hierarchy.
  The default sizes for HTML headings vary depending on the browser and its default stylesheet, but they are typically in pixels and may not scale well across different devices and settings.
  */

.h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 1.3;
}

.h2 {
  font-size: 1.75rem; /* 28px */
  line-height: 1.4;
}

.h3 {
  font-size: 1.5rem; /* 24px */
  line-height: 1.5;
}

.h4 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.6;
}

.h5 {
  font-size: 1rem; /* 16px */
  line-height: 1.7;
}

.h6 {
  font-size: 0.875rem; /* 14px */
  line-height: 1.8;
}

.small {
  font-size: $ll-font-size-sm;
  line-height: $ll-line-height-default;
}

.medium {
  font-size: $ll-font-size-md;
  line-height: $ll-line-height-default;
}

.large {
  font-size: $ll-font-size-lg;
  line-height: $ll-line-height-default;
}
