.logo {
  grid-column: 3 / span 2;
}

.menuNav {
  grid-column: 5 / span 6;
  place-items: center;
}

.menuList {
  display: grid;
  grid-auto-flow: column;
  justify-items: flex-end;
}

.menuLink {
  text-decoration: none;
}
