.logo {
  grid-row: 1;
  grid-column: 1 / span 2;
  padding-left: 1.25rem;

  @media (min-width: 768px) {
    justify-self: start;
    grid-column: 2 / span 2;
  }

  @media (min-width: 1200px) {
    grid-column: 3 / span 2;
  }
}

.menuNav {
  justify-items: center;
  grid-column: 1 / span 4;
  grid-row: 2;
  // TODO: mobile menu will be hamburger eventually! - revisit
  padding: 0 1.5rem;

  @media (min-width: 768px) {
    grid-row: 1;
    grid-column: 4 / span 5;
    padding: unset;
  }

  @media (min-width: 1200px) {
    grid-column: 6 / span 6;
    padding: unset;
  }
}

.menuList {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;

  @media (min-width: 768px) {
    justify-items: start;
  }
}

.menuLink {
  text-decoration: none;
}
