.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;

  @media (min-width: 768px) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(12, 1fr);
  }
}
