.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2.5rem;
}

.nav {
  & ul {
    display: flex;
    gap: 2rem;

    & > .navItem {
      list-style-type: none;
    }
  }
}

.navItemLink {
  text-decoration: none;
}
