.logo {
  grid-row: 1;
  grid-column: 1 / span 2;
  padding-left: 1.25rem;

  @media (min-width: 768px) {
    justify-self: start;
    grid-column: 2 / span 2;
  }

  @media (min-width: 1200px) {
    grid-column: 3 / span 2;
  }
}

// TODO: how would items look on a very smalle screen?! - revisit
.menuNav {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  grid-column: 1 / span 4;
  grid-row: 2;

  // TODO: create mixin for the 2 item grid breakpoints
  @media (min-width: 768px) {
    grid-row: 1;
    grid-column: 4 / span 5;
    justify-items: start;
  }

  @media (min-width: 1200px) {
    grid-column: 6 / span 6;
  }
}

.menuLink {
  text-decoration: none;
}

.menuListSocial {
  display: flex;
  gap: 1.25rem;
}

// TODO: Define color and font tokens - responsive
.heading {
  font-size: 1rem;
  margin: 0;
  padding-bottom: 1.5rem;
  color: grey;
}
